body {
  margin: 0;
  /* text-align: center; */
  font-family: "Montserrat", serif;
  /* padding-left: 75px; */
}


/* Navigation Bar */
.container-fluid {
  padding: 0;
}

.navbar {
  background-color: #1E2022;
}

.navbar-brand {
  font-family: "Ubuntu";
  color: #F0F5F9;
  font-size: 2rem;
  padding-left: 75px;
}

.nav-item {
  font-size: 1rem;
  padding: 8px 10px;
  text-transform: uppercase;
}

.nav-link:hover { 
  color: #F0F5F9;
} 

/* .search-bar {
  padding: 8px 10px;
}

.search-button {
  color:#F0F5F9;
  outline:#F0F5F9
}

.search-button:hover {
  color:#1E2022;
  
  background-color: #F0F5F9;
} */

/* Home Section */
#Home {
  background-color: #52616B;
  color: #F0F5F9;
}

.title-text {
  font-size: 3rem;
  font-family: "Ubuntu";
  font-weight: 700;
  text-align: left;
  padding: 20px 75px 0px;
  /* color: #F0F5F9; */
  margin: 0;
  line-height: 2.5;
}

.subtitle-text {
  /* color: #F0F5F9; */
  font-weight: 400;
  font-size: 1.5rem;
  padding: 20px 75px 20px;
  margin: 0;
  line-height: 1.5;
}

.about-me-text {
  padding: 20px 0 20px 75px;
  margin: 0;
  line-height: 1.5;
  font-size: 1rem;
}

.subheading-text {
  padding: 20px 75px 20px;
  text-align: center;
  margin: 0;
  line-height: 1.5;
  font-size: 1rem;

}

.profile-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* border-radius: 100%; */
  width: 60%;
  height: auto;
  padding: 20px 20px 20px;
}

/* Blog section */
#Blog {
  background-color: #C9D6DF;
  color: #52616B;  
  padding: 20px 75px 75px;
  margin: 0;
}

/* Card */
.card {
  background-color: #C9D6DF;
  padding: 20px 75px 20px;
}

/* Footer Section */
footer {
  background-color: #1E2022;
  color: #F0F5F9;
  text-align: center;
  padding: 20px 75px 20px;
}

.social-media-links {
  color: #F0F5F9;
  padding: 20px 10px 20px;
}

.footnote-text {
  padding: 20px 75px 20px;
  text-align: center;
  margin: 0;
  line-height: 1.5;
  font-size: 0.75rem;
}