body {
  margin: 0;
  /* text-align: center; */
  font-family: "Montserrat", serif;
  /* padding-left: 75px; */
}


/* Navigation Bar */
.container-fluid {
  padding: 0;
}

.navbar {
  background-color: #1E2022;
}

.navbar-brand {
  font-family: "Ubuntu";
  color: #F0F5F9;
  font-size: 2rem;
  /* font-weight: 900; */
  padding-left: 75px;
}

.nav-item {
  color: #F0F5F9;
  font-size: 1rem;
  padding: 8px 10px;
  text-transform: uppercase;
}

.nav-link { 
  color: #F0F5F9;
}

/* Home Section */
#Home {
  background-color: #52616B;
}

.title-text {
  font-size: 3rem;
  font-family: "Ubuntu";
  font-weight: 700;
  text-align: left;
  padding: 20px 75px 0px;
  color: #F0F5F9;
  margin: 0;
  line-height: 2.5;
}

/* About Section */
#About {
  background-color: #52616B;
}

.about-subtitle {
  color: #F0F5F9;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 0px 75px 20px;
  margin: 0;
  line-height: 1.5;
}

.about-me-text {
  padding: 20px 75px 20px;
}